header{
  display: flex;
  text-align: center;
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
}
ul{
  margin: 2rem 0;
  li{
    display: inline-block;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
    margin:1rem;
    padding:2rem 0;
    color:#51565B;
    &:hover,
    &.active{
      color:#4AABFC;
      border-bottom: 4px solid #4AABFC;
    }
  }
}